/*header*/

html,body{
  margin: 0;	/* 余白の削除 */
padding: 0;	/* 余白の削除 */
height: 100%;	/* 縦の高さを100% */
width: 100%;	/* 横の幅を100% */
}

#contents{
  padding:0 0 72px 0;
}
#footer{
  position: fixed;            /* フッターの固定 */
  bottom: 0px;                /* 位置(下0px) */
  left: 0px;                  /* 位置(左0px) */
  width: 100%;                /* 横幅100%　*/
  height: 72px;
}
@media screen and (max-width: 768px) {
  .buttonsize{
    width:60px;
    height:30px;
    font-size: 10px
  }
  .fontChange{
    font-size:15px;
  }

  .fontChange1{
    font-size:10px;
  }
  .menucolor{
    background-color: white;
  }
  .log{
    background-image: url("./doshisha.jpg");
    background-size: cover;
  	position: relative;
    width: 100vw;
    min-height: 100vh;

    height: auto;
  }
  .log::before{
  	/* 透過した黒を重ねる */
  	background-color: rgba(0,0,0,0.5);
  	/* どの範囲に重ねるかを指定 */
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	content: ' ';
  }
  .picture1{
    background-image: url("./sozai2.png");
    width:100vw;
    height:200px;
  }
  .picture2{
    background-image: url("./sozai2.png");
    width:100vw;
    height:200px;
  }
  .picture3{
    background-image: url("./sozai2.png");
    width:100vw;
    height:200px;
  }
}

@media screen and (min-width: 768px) {
  .fontChange{
    font-size:20px;
  }

  .fontChange1{
    font-size:15px;
  }
  .menucolor{
    background-color: white;
    border-radius: 10px;
    height:100vh;
  }
  .log{
    background-image: url("./doshisha.jpg");
    background-size: cover;
  	position: relative;
    width: 100vw;
    min-height: 100vh;

    height: auto;
  }
  .log::before{
  	/* 透過した黒を重ねる */
  	background-color: rgba(0,0,0,0.5);
  	/* どの範囲に重ねるかを指定 */
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	content: ' ';
  }
  .login_up{
    position: 'absolute';
    margin-top:100px;
    display: 'inline-block';
  }
  .topmargin{
    margin-top:100px;
  }
  .picture1{
    background-image: url("./sozai2.png");
    width:100vw;
    height:500px;
  }
  .picture2{
    background-image: url("./sozai2.png");
    width:100vw;
    height:500px;
  }
  .picture3{
    background-image: url("./sozai2.png");
    width:100vw;
    height:500px;
  }
}
.centerPosition{
  text-align: center;
}
.circleInt{
  margin:15px;
}

.circleName{
  padding-top:20px;
  font-size:35px;
}
.circleNameRight{
  margin-right:10px;
}
.circleImage{
  margin:20px;
}



.paper{
  background-color: #e4f0fc;
  padding:20px;
  border-radius: 10px;
  height:100vh;
}
.circlePage{
  background-color: #e4f0fc;
  border-radius: 10px;
  height:100vh;
  padding:0;
}

.rightside{
  text-align: right;
  margin-top:10px;
}

.button{
  margin-top: 70%;
}

.button1{
  margin-bottom: 20px;
}

.search{

}

.search1{
  margin-top:7px;
}

.searchForm{
  padding:10px;
  background-color:#CDD8E4
}

.card{
  padding: 20px 20px;
  margin-bottom:20px;
}

.mypage{
  background-color:white;
}

.SearchResult{
  margin:5px;
  padding:10px;
  background-color:white;
}
.whitePage{
  background-color:white;
}



.favoPage{
  padding:10px;
}
.floatright{
  display:block;
  float: right;
}
