/*header*/
body{
  background-color: #e4f0fc;
}
@media screen and (max-width: 768px) {
  .menucolor{
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  .menucolor{
    background-color: white;
    border-radius: 10px;
    height:100vh;
  }
}

.circlePage{
}

.centerPosition{
  text-align: center;
}
.circleInt{
  margin:15px;
}

.circleName{
  font-size:40px;
}
.circleNameRight{
  margin-right:10px;
}
.circleImage{
  margin:20px;
}
.picture1{
  background-image: url("./sozai2.png");
  width:100vw;
  height:500px;
}
.picture2{
  background-image: url("./sozai2.png");
  width:100vw;
  height:500px;
}
.picture3{
  background-image: url("./sozai2.png");
  width:100vw;
  height:500px;
}
.log{
  background-image: url("./doshisha.jpg");
  background-size: cover;
	position: relative;
  width: 100vw;
  min-height: 100vh;

  height: auto;
}
.log::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.5);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.paper{
  background-color: #e4f0fc;
  padding:20px;
  border-radius: 10px;
  height:100vh;
}
.login_up{
  background-color: #e4f0fc;
  border-radius: 10px;
}
.rightside{
  text-align: right;
  margin-top:10px;
}

.button{
  margin-top: 70%;
}

.button1{
  margin-bottom: 20px;
}

.search{

}

.search1{
  margin-top:7px;
}

.searchForm{
  padding:10px;
  background-color:#CDD8E4
}

.card{
  padding: 20px 20px;
  margin-bottom:20px;
}

.mypage{
  margin:20px;
  background-color:white;
}

.SearchResult{
  margin:20px;
  padding:20px;
  background-color:white;
}
.whitePage{
  background-color:white;
}

.fontChange{
  font-size:20px;
}

.fontChange1{
  font-size:15px;
}

.favoPage{
  margin:10px;
  padding:10px;
}
.floatright{
  display:block;
  float: right;
}
