/*header*/
body{
  background-color: #EEEEEE;
}

.paper{
  height: 100;
  width: 100;
  margin: 20;
  text-align: 'center';
  display: 'inline-block';
}

.log{
  background-image: url("./doshisha.jpg");
  background-size: cover;
	position: relative;
  width: 100vw;
  min-height: 100vh;

  height: auto;
}
.log::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.5);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}


.top{
  position: absolute;
  height:60%;
  width:30%;
  background-color: white;
  margin-left:35%;
  margin-top:50px;
  padding:10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px gray;
  text-align: center;
}

.button{
  margin-top: 70%;
}

.button1{
  margin-bottom: 20px;
}

.circle{
  padding: auto;

}



.searchForm{
  margin-top:40px;
  margin-bottom: 40px;
}

.card{
  padding: 20px 20px;
  margin-bottom:20px;
}
